doctype html
html
	head
		meta(charset="utf-8")
		title CivisAnalysis
		link(rel="stylesheet" href="./javascripts/lib/bootstrap/dist/css/bootstrap.min.css")
		link(rel='stylesheet', href='./stylesheets/styles.css')
		link(rel="stylesheet", href="./javascripts/lib/pick-a-color-master/build/1.2.2/css/pick-a-color-1.2.2.min.css")
		link(rel="stylesheet", href="./javascripts/lib/DataTables-1.10.1/media/css/jquery.dataTables.min.css")

		link(rel='stylesheet', href="./javascripts/lib/bootstrap/slider/slider.css")
		link(rel='stylesheet', href="./stylesheets/brazilianStates.css")

	body
		h2#head CivisAnalysis: Brazilian Chamber of Deputies
		.container-fluid
			.row#main
				.col-xs-12
						.col-xs-5
							.col-xs-12
								br
							.col-xs-4
								h4.header Political Spectrum of Deputies
									a.btn(href='#', data-toggle='modal',data-target='.modal',onclick='javascript:setDeputyModal()')
										span.glyphicon.glyphicon-search
							.col-xs-8
								.canvas#canvasDeputies
							.col-xs-12
								br
							.col-xs-4
								h5.header Links connects deputies with 
									span.subhead#thresh 70% 
									text of vote correlation:
									.slider#slider
							.col-xs-8
								.canvas#canvasGraph

						.col-xs-2
							h4.header Parties
							#infoParties

						.col-xs-5
							.col-xs-12
								br
							.col-xs-4
								h4.header Political Spectrum of Roll Calls
									a.btn(href='#', data-toggle='modal',data-target='.modal',onclick='javascript:setRollCallModal()')
										span.glyphicon.glyphicon-search
							.col-xs-8
								.canvas#canvasRollCalls
							.col-xs-12
								br
							.col-xs-4
								h4.header States
							.col-xs-8
								.canvas#infoStates		
				.col-xs-12#timeline
					#loading
						img#loadingGIF(src='./images/ajax_loader.gif')

		// MODAL (POP-UP)
		.modal.fade(tabindex="-1",role="dialog",aria-labelledby="billModal",aria-hidden="true")
			.modal-dialog.modal-lg
				.modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
						h4.modal-title Modal
					.modal-body					


		// THIRD_PARTY_LIBS
		// script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		
		script(src='./javascripts/lib/jquery.min.js')
		script(src="./javascripts/lib/bootstrap/dist/js/bootstrap.min.js")
		script(src="./javascripts/lib/d3/d3.min.js")
		script(src="./javascripts/lib/d3/queue.v1.min.js")
		script(src="./javascripts/lib/numeric-1.2.6.js")
		script(src="./javascripts/lib/crossfilter.v1.min.js")
		script(src="./javascripts/lib/pick-a-color-master/build//dependencies/tinycolor-0.9.15.min.js")
		script(src="./javascripts/lib/pick-a-color-master/build/1.2.2/js/pick-a-color-1.2.2.min.js")
		script(src="./javascripts/lib/bootstrap/slider/slider.js")
		script(src="./javascripts/lib/topojson.min.js")
		script(src="./javascripts/lib/DataTables-1.10.1/media/js/jquery.dataTables.min.js")


		// APP_LIBS
		script(src='./javascripts/globalUtils.js')
		script(src='./javascripts/congressDEFINE.js')
		script(src='./javascripts/chamberOfDeputiesClient.js')
		script(src='./javascripts/chamberOfDeputiesDataWrapper.js')
		script(src='./javascripts/scaleAdjustment.js')
		script(src='./javascripts/selectionModule.js')

		script(src='./javascripts/deputiesScatterplot.js')
		script(src='./javascripts/deputiesGraph.js')
		script(src='./javascripts/rollCallsScatterplot.js')
		script(src='./javascripts/rollCallsTimeLine.js')
		script(src='./javascripts/brazilianStates.js')
		script(src='./javascripts/partiesInfographic.js')

		script(src='./javascripts/chamberOfDeputiesVisualization.js')
