doctype html
html
	head
		meta(charset="utf-8")
		title Analise da Camara dos Deputados
		link(rel="stylesheet" href="./javascripts/lib/bootstrap/dist/css/bootstrap.min.css")
		link(rel='stylesheet', href='./stylesheets/styles.css')
		link(rel="stylesheet", href="./javascripts/lib/pick-a-color-master/build/1.2.2/css/pick-a-color-1.2.2.min.css")

		link(rel='stylesheet', href="./javascripts/lib/bootstrap/slider/slider.css")
		link(rel='stylesheet', href="./stylesheets/brazilianStates.css")

	body
		block content

		// BODY_HTML
		h2 Análise da Câmara dos Deputados

		.container-fluid
			.row
				.col-xs-4
					h4 Arranjo dos deputados de acordo com as votações
					.canvas#canvasDeputies
				.col-xs-4
					h4 Ligações indicam deputados que votaram juntos em até 
						span.subhead#thresh 70% 
						text das votações:
						.slider#slider 
					.canvas#canvasGraph		
				.col-xs-4
					h4 Aranjo das votações de acordo com os votos dos deputados
					.canvas#canvasRollCalls		
			.row
				.col-xs-8
					.btn-toolbar#labelColorDeputies
				.col-xs-4#labelColorRollCalls
			.row
				.col-xs-12
					#timeline
			.row#infoRow
			.row#infographs


		// THIRD_PARTY_LIBS
		// script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		
		script(src='./javascripts/lib/jquery.min.js')
		script(src="./javascripts/lib/bootstrap/dist/js/bootstrap.min.js")
		script(src="./javascripts/lib/d3/d3.min.js")
		script(src="./javascripts/lib/d3/queue.v1.min.js")
		script(src="./javascripts/lib/numeric-1.2.6.js")
		script(src="./javascripts/lib/crossfilter.v1.min.js")
		script(src="./javascripts/lib/pick-a-color-master/build//dependencies/tinycolor-0.9.15.min.js")
		script(src="./javascripts/lib/pick-a-color-master/build/1.2.2/js/pick-a-color-1.2.2.min.js")
		script(src="./javascripts/lib/bootstrap/slider/slider.js")
		script(src="./javascripts/lib/topojson.min.js")

		// APP_LIBS
		script(src='./javascripts/globalUtils.js')
		script(src='./javascripts/congressDEFINE.js')
		script(src='./javascripts/chamberOfDeputiesClient.js')
		script(src='./javascripts/chamberOfDeputiesDataWrapper.js')
		script(src='./javascripts/scaleAdjustment.js')
		script(src='./javascripts/selectionModule.js')

		script(src='./javascripts/deputiesScatterplot.js')
		script(src='./javascripts/deputiesGraph.js')
		script(src='./javascripts/rollCallsScatterplot.js')
		script(src='./javascripts/rollCallsTimeLine.js')
		script(src='./javascripts/brazilianStates.js')

		script(src='./javascripts/chamberOfDeputiesVisualization.js')
