doctype html
html
	head
		meta(charset="utf-8")
		title CivisAnalysis
		link(rel="stylesheet" href="./javascripts/lib/bootstrap/dist/css/bootstrap.min.css")
		link(rel='stylesheet', href='./stylesheets/styles.css')
		link(rel="stylesheet", href="./javascripts/lib/pick-a-color-master/build/1.2.2/css/pick-a-color-1.2.2.min.css")
		link(rel="stylesheet", href="./javascripts/lib/DataTables-1.10.1/media/css/jquery.dataTables.min.css")

		link(rel='stylesheet', href="./javascripts/lib/bootstrap/slider/slider.css")
		link(rel='stylesheet', href="./stylesheets/brazilianStates.css")

		<script src="https://apis.google.com/js/platform.js" async defer></script>

	body
		// FIXED NAV-BAR AT THE TOP
		navbar.navbar-default.navbar-fixed-top
			div.container
				// HEADER
				ul.nav.navbar-left
					li
						h4 CivisAnalysis
				// SOCIAL SHARES!
				ul.nav.navbar-nav.navbar-right.nav-pills#socialshare
					li
						// Facebook share 
						<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.inf.ufrgs.br%2F%7Efgborja%2Fcivisanalysis%2F&amp;width=150&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe>
					li
						// Twitter share
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.inf.ufrgs.br/~fgborja/civisanalysis/">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					li
						// Google Plus share
						<div width='60px' class="g-plus" data-action="share" data-annotation="bubble" data-href="http://www.inf.ufrgs.br/~fgborja/civisanalysis/"></div>

		div.header
		.col-md-12#main
			.col-md-8.col-xs-12
				#chamber.col-md-3.col-xs-3(style='padding-left:0')
							h3.content(style='margin-top: 10px') The Brazilian Chamber of Deputies
							br
							text(style='font-size:large')
								tspan Constitued by the 
								a#deputies 513 Deputies 
								tspan more present in the 
								a#rollCalls 5 Roll Calls 
								tspan wich take place in the period
								br
								tspan of 
								span#startDate  __/__/___ 
								br
								tspan  to 
								span#endDate  __/__/___ 
							br
							br
							a.btn(href='#', data-toggle='modal',data-target='.modal',onclick='javascript:setDeputyModal_SearchAll()')
								span.glyphicon.glyphicon-search 
								text  Search Deputies
							br
							#deputiesSelected
								a.btn.disabled(href='#', data-toggle='modal',data-target='.modal',onclick='javascript:setDeputyModal_ListSelected()')
									span.glyphicon.glyphicon-list 
									text  List Selected
								a.btn.disabled( onclick='javascript:modals.selectAllDeputies()')
									span.glyphicon.glyphicon-remove
									text  Reset Selection

				.col-md-9.col-xs-9(style='margin-top:15px')
					h5.col-md-6.col-xs-6 Distribution of Deputies per Party				
					h5.col-md-6.col-xs-6 Political Spectrum of Deputies				
				.col-md-9.col-xs-9#canvas

			#rightCol.col-md-4.col-xs-12(style='padding-left: 0px; margin-top:15px ')
				h5.col-md-12.content Political Spectrum of Roll Calls 
				.col-md-4.col-xs-2(style='padding-left:0')
					
					a.btn(href='#', data-toggle='modal',data-target='.modal',onclick='javascript:setRollCallModal_SearchAll()')
						span.glyphicon.glyphicon-search
						text  Search Roll Calls
					br
					#rollCallsSelected
						a.btn.disabled(href='#', data-toggle='modal',data-target='.modal',onclick='javascript:setRollCallModal_ListSelected()')
							span.glyphicon.glyphicon-list 
							text  List Selected
						a.btn.disabled( onclick='javascript:modals.selectAllRollCalls()')
							span.glyphicon.glyphicon-remove
							text  Reset Selection
				.col-md-8.col-xs-4
					.canvas#canvasRollCalls


				.col-md-4.col-xs-2
					h5.content Distribution of Deputies per States
				.col-md-8.col-xs-4
					.canvas#infoStates

		.col-md-12#timeline
			#loading
				img#loadingGIF(src='./images/ajax_loader.gif')

		// MODAL (POP-UP)
		.modal.fade(tabindex="-1",role="dialog",aria-labelledby="billModal",aria-hidden="true")
			.modal-dialog.modal-lg
				.modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
						h4.modal-title Modal
					.modal-body					

	
		// TODO TODO! http://stackoverflow.com/questions/11616697/how-to-use-og-meta-tag-for-facebook-share
		<!-- for Google -->
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<meta name="author" content="Francisco de Borja" />
		<meta name="copyright" content="" />
		<meta name="application-name" content="CivisAnalysis" />

		<!-- for Facebook -->          
		<meta property="og:title" content="CivisAnalysis" />
		<meta property="og:type" content="article" />
		<meta property="og:image" content="" />
		<meta property="og:url" content="http://www.inf.ufrgs.br/~fgborja/civisanalysis/" />
		<meta property="og:description" content="" />

		<!-- for Twitter -->          
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="CivisAnalysis" />
		<meta name="twitter:description" content="" />
		<meta name="twitter:image" content="" />

		// THIRD_PARTY_LIBS
		// script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		
		script(src='./javascripts/lib/jquery.min.js')
		script(src="./javascripts/lib/bootstrap/dist/js/bootstrap.min.js")
		script(src="./javascripts/lib/d3/d3.min.js")
		script(src="./javascripts/lib/d3/queue.v1.min.js")
		script(src="./javascripts/lib/numeric-1.2.6.js")
		script(src="./javascripts/lib/crossfilter.v1.min.js")
		script(src="./javascripts/lib/pick-a-color-master/build//dependencies/tinycolor-0.9.15.min.js")
		script(src="./javascripts/lib/pick-a-color-master/build/1.2.2/js/pick-a-color-1.2.2.min.js")
		script(src="./javascripts/lib/bootstrap/slider/slider.js")
		script(src="./javascripts/lib/topojson.min.js")
		script(src="./javascripts/lib/DataTables-1.10.1/media/js/jquery.dataTables.min.js")


		// APP_LIBS
		script(src='./javascripts/globalUtils.js')
		script(src='./javascripts/congressDEFINE.js')
		script(src='./javascripts/chamberOfDeputiesClient.js')
		script(src='./javascripts/chamberOfDeputiesDataWrapper.js')
		script(src='./javascripts/scaleAdjustment.js')
		script(src='./javascripts/selectionModule.js')

		script(src='./javascripts/deputiesScatterplot.js')
		//script(src='./javascripts/deputiesGraph.js')
		script(src='./javascripts/rollCallsScatterplot.js')
		script(src='./javascripts/rollCallsTimeLine.js')
		script(src='./javascripts/brazilianStates.js')
		// script(src='./javascripts/partiesInfographic.js')
		script(src='./javascripts/chamberInfographic.js')
		script(src='./javascripts/modals.js')
		script(src='./javascripts/labelManager.js')
		script(src='./javascripts/votesPieChart.js')

		script(src='./javascripts/chamberOfDeputiesVisualization.js')
