doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
    <script src="./javascripts/lib/d3/queue.v1.min.js"></script>
    <script src="./javascripts/lib/numeric-1.2.6.js"></script>

    <script src='/javascripts/globalUtils.js'></script>
    <script src='/javascripts/chamberOfDeputiesClient.js'></script>
    <script src='/javascripts/chamberOfDeputiesDataWrapper.js'></script>
    <script src='/javascripts/listMotions.js'></script>

    h1 Voted Proposition List by Year

    // Wrapper
    #wrapper

      // PROP INFO
      #propInfo
        h2 Prop Info
        p
            <span id='jsonProp'></span>
      // /PROP INFO	

      h2 Proposition List
      //  LIST PROP BTN
      #listProp
        fieldset
          input#inputYear(type='text', placeholder='Year')
          button#btnListProp Call List
      // /LIST PROP BTN

      // Proposition LIST
      #propList
        table
          thead
            th Cod
            th Nome
            th GetRollCall
          tbody
      // /Proposition LIST

    // /WRAPPER
