html, body {height: 100%;width: 100%}

h2 {text-align: center;}

.navbar-default{
  background-color: #F1F0F0;
}

#socialshare{
  margin-top: 10px;
}

#main{
  /*height:400px;*/
  width:1000px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.header{
     margin-bottom:0px;
     margin-top:0px;
}
  .header.content{
      text-align: right;
  }

.canvas{
    width:215px;
    margin-left: auto ;
    margin-right: auto ;
}

#timeline{
  height:120px;
  width:99%;
  margin-left: auto ;
  margin-right: auto ;
}

#loading {
  background-color: #333;
  width: 99%;
  height:144px;
  position: fixed;
  z-index: 1;
  opacity: 0.3;
  margin-left: auto ;
  margin-right: auto ;
  visibility: hidden;
}

#loadingGIF {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 15%;
    width: 100px;
}

/* turn all elements unselectable*/
* {
            user-select: none; /* CSS3 (little to no support) */
        -ms-user-select: none; /* IE 10+ */
       -moz-user-select: none; /* Gecko (Firefox) */
    -webkit-user-select: none; /* Webkit (Safari, Chrome) */
}

.axis {
      shape-rendering: crispEdges;
      stroke: black;
      fill: none;
      opacity: 0.4;
}

.chart {border:1px solid rgba(0, 0, 0, .2);}

.chart .axis {display: none}
.axis text{ display: none }

.node {
  stroke: #E0E0E0;
  stroke-width: 1px;
  opacity: 0.2;
  cursor: pointer;
}

.node.selected {
  opacity: 1;
}

.node.hover{ stroke: #ddd; }

.selectorRect {
    cursor: crosshair;
}

.selection {
    stroke          : grey;
    stroke-width    : 3px;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.6;
    fill            : transparent;
}
.selection.shiftKey{ stroke   : red;}
.selection.ctrlKey { stroke   : green;}

.details {
  font-size: 12px;
}

.d3tooltip {
  font-family: "Arial", sans-serif;
  position: absolute;
  z-index: 10;
  visibility: hidden;
  background-color: #FFF;
  border: 1px solid #CCC;
  padding: 3px 6px;
}

.popover {
  max-width: 800px !important;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

.link {
  stroke: #999;
  stroke-opacity: 0.7;
  stroke-width: 0.5;
}

.slider {
  width: 100px;
  height: 5px;
  margin: 0 3px 0 0;
  opacity: 0.8;
}


div.selected{
  border-left: thick double lightgrey;
}
  div.selected text{
    font-size: 12px;
  }

#propList {
  margin:0 0 10px 0;
  font-size: 12px;
}
  #propList table {
    border-collapse:separate;
    background:#CCC;
  }
    #propList table th {
      background:#EEE;
      padding:5px 5px;
      text-align:center;
    }
    #propList table tbody {
      padding:0; margin:0;
      border-collapse:collapse;
      border-spacing:0px;
    }
      #propList table td {
        background:#FFF;
        padding:3px 3px;
        text-align:center;
      }

.glyphicon.selected { 
  fill: steelblue;
}

td.highlight{
  background-color:steelblue;
}

#propList .color-preview {vertical-align:middle; border: 1px solid #ccc;border-radius: 4px; margin:0px;height: 1.429em; width: 1.429em; display: inline-block; background-color:#fff}

td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}