h1 { font-size: -webkit-xxx-large; }
h2 { font-size: xx-large; }
h3 { font-size: x-large; }
h4 { font-size: large; }
h5 { font-size: medium; }
h6 { font-size: small; }

.no-padding{
	padding: 0px;
};
.onHoverSetBlue:hover{
	color: steelblue;
	cursor: pointer;
};

a { 
	cursor: pointer;
}

	a.btn{
		font-size: small;
		padding-top: 1px;
		padding-bottom: 1px;
		text-align: initial;
	}

		a.btn.highlight{
			font-weight: bold;
		}

	a.reset {
		padding-left: 1em;
		color: #ccc;
		font-size: large;
	};


.navbar-default{
	background-color: #F1F0F0;
}

#socialshare{
	margin-top: 10px;
}

#main{
	margin-bottom: 10px;
}

.header{
		 margin-bottom:50px;
}

#timeline{
	width:99%;
	margin-top: 0px;
	margin-left: auto ;
	margin-right: auto ;
}
#timelineInfo{
	margin-left: auto ;
	margin-right: auto ;
}

#loading {
	background-color: #333;
	width: 99%;
	height:144px;
	position: fixed;
	z-index: 1;
	opacity: 0.3;
	margin-left: auto ;
	margin-right: auto ;
	visibility: hidden;
}

#loadingGIF {
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		top: 15%;
		width: 100px;
}

/* turn all elements unselectable*/
* {
						user-select: none; /* CSS3 (little to no support) */
				-ms-user-select: none; /* IE 10+ */
			 -moz-user-select: none; /* Gecko (Firefox) */
		-webkit-user-select: none; /* Webkit (Safari, Chrome) */
}

.axis {
			shape-rendering: crispEdges;
			stroke: black;
			fill: none;
			opacity: 0.4;
}

.gchart {
	stroke:rgba(0, 0, 0, .2);
	fill: white;
}
.chart {border:1px solid rgba(0, 0, 0, .2);}

.chart .axis {display: none}
.axis text{ display: none }

.node {
	stroke: #E0E0E0;
	stroke-width: 1px;
	opacity: 0.1;
	cursor: pointer;
}

.node.selected {
	opacity: 1 !important;
}

.node.hovered {
	opacity: 0.4;
}

.selectorRect {
		cursor: crosshair;
}

.selection {
		stroke          : grey;
		stroke-width    : 3px;
		stroke-dasharray: 4px;
		stroke-opacity  : 0.6;
		fill            : transparent;
}
.selection.shiftKey{ stroke   : red;}
.selection.ctrlKey { stroke   : green;}

#timeline .background {
	fill: lightgrey;
}

#timeline  .foreground {
	fill: darkgrey;
}
#timeline .partiesLabel{
	fill:grey; 
	writing-mode: tb; 
	glyph-orientation-vertical: 0;
	font-size:small;
}

.brush rect.extent {
	fill: darkgrey;
	fill-opacity: .125;
}

.brush .resize path {
	fill: #eee;
	stroke: #666;
}

.link {
	stroke: #999;
	stroke-opacity: 0.7;
	stroke-width: 0.5;
}

.slider {
	width: 100px;
	height: 5px;
	margin: 0 3px 0 0;
	opacity: 0.8;
}

/* fill all children from election with steelblue when selected*/
.election.selected > *{ 
	fill: steelblue;
}

.alliance .color-preview {vertical-align:middle; border: 1px solid #ccc;border-radius: 3px;height: 1.229em; width: 1.229em; display: inline-block; background-color:#fff}

td.details-control {
		background: url('../images/details_open.png') no-repeat center center;
		cursor: pointer;
}
tr.shown td.details-control {
		background: url('../images/details_close.png') no-repeat center center;
}

.unclutteredButtons{
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.unclutteredInfo {
	border: 1px solid;
	border-color: #ccc;
	margin-top: -1px;
	border-radius: '0 0 0 5px';
}

#select-to + .selectize-control .selectize-input{
	height: 150px;
}

input[type="color"] {
  width: 35px;
  height: 23px;
  background-color: transparent;
  border: 0px;
  padding: 1px 2px;
  cursor: pointer;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}